@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
}

h3{
	margin-top: 3px;
}

input {
    display: block;
    margin-bottom: 0.4vh;
    font-size: 9px;
}

label {
    margin-bottom: 0px;
}

form{
	margin-top: 0px;
}

textarea{
	font-size: 8px;
	width: 35vw;
	height: 6vh;
}

.submit-btn{
	justify-content: center;
	align-items: center;
}

.container {
	background-color: #a7d9e7;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	height: 61vh;
	width: 100%;
}

.form-container{
	height: 52.4vh;
	border-radius: 5px;
	background-color: white;
	justify-content: left;
	align-items: left;
	text-align: left;
	color: black;
	font-size: 9px;
	width: 60vw;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
	font-size: 9px;
}

#paper{
	height: 6vh;
	font-size: 9px;
}

input{
	height: 2vh;
	width: 20vw;
}

#submit{
	height: 3vh;
	width: 9vh;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.container{
 	min-height: 88vh;
 	max-height: 200vh;
 	font-size: 40px; 
 }
 
 .form-container{
 	height: 75vh; 
 	width: 80vw;
 	padding: 0px 0px 0px 25px;
 }
 input{
	height: 3vh;
	width: 70vw;
	margin-bottom: 3vh;
	border: 3px solid black;
	font-size: 32px;
	word-wrap: break-word;
}
label{
	font-size: 25px;
}
textarea{
	font-size: 20px;
	width: 70vw;
	height: 12vh;
	border: 3px solid black;
	margin-bottom: 2vh;
}
select{
	width: 20vw;
	height: 3vh;
	font-size: 25px;
	border: 3px solid black;
	margin-bottom: 2vh;
}
#paper{
	height: 6vh;
	font-size: 25px;
	width: 50vw;
	border: 3px solid black;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.container{
 	height: 80vh;
 }
 
 .form-container{
 	height: 70vh; 
 	width: 80vw;
 	padding: 0px 0px 0px 25px;
 }
 
input {
    font-size: 22px;
    margin-bottom: 0vh;
     height: 3vh;
     width: 60vw;
     margin-bottom: 1vh;
	border: 2px solid black;
	word-wrap: break-word;
}

select{
	width: 20vw;
	height: 3vh;
	font-size: 28px;
	border: 3px solid black;
	margin-bottom: 1vh;
}
#paper{
	height: 6vh;
	font-size: 25px;
	width: 50vw;
	border: 3px solid black;
}

#submit{
	width: 30vw;
	height: 5vh;
}

#user-main{
	font-size: 20px;
}

label{
	font-size: 25px;
}
textarea{
	font-size: 20px;
	width: 70vw;
	height: 8vh;
	border: 3px solid black;
	margin-bottom: 2vh;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.container{
 	height: 85vh;
 }
 
 .form-container{
 	height: 55vh; 
 	width: 40vw;
 	font-size: 9px;
 }
 
input {
    font-size: 9px;
    margin-bottom: 0.4vh;
     height: 1.6vh;
     width: 25vw;
}

select{
    font-size: 9px;
    height: 3vh;
    width: 10vw;
}

#submit{
	width: 6vw;
	height: 3vh;
	font-size: 9px;
}

#user-main{
	font-size: 10px;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
.container{
 	height: 85vh;
 }
 
 .form-container{
 	height: 53vh; 
 	width: 40vw;
 	font-size: 9px;
 }
 
input {
    font-size: 9px;
    margin-bottom: 0.4vh;
     height: 1.6vh;
     width: 25vw;
}

select{
    font-size: 9px;
    height: 3vh;
    width: 10vw;
}

#submit{
	width: 6vw;
	height: 3vh;
	font-size: 9px;
}

#user-main{
	font-size: 10px;
}
}
