@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
}

.form-center {
	background-color: white;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	height: 70vh;
	width: 100%;
}

.form-box {
	background-color: #00478e;
	border: 2px solid #ffffff;
	border-radius: 5px;
	overflow: hidden;
}

.button {
	color: white;
	background-color: grey;
}

.desc {
	font-family: Tahoma, Verdana, sans-serif;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	color: #00478e;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	.form-center {
		height: 88vh;
		font-size: 12px;
	}
	.form-box {
		height: 18vh;
		width: 70vw;
		font-size: 30px;
	}
	input, label, p {
		margin-top: 2vh;
		width: 40vw;
		font-size: 30px;
	}
	#submit {
		width: 20vw;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) {
	.form-center {
		height: 80vh;
		font-size: 12px;
	}
	.form-box {
		height: 32vh;
		width: 60vw;
		font-size: 30px;
	}
	input, label, p {
		margin-top: 2vh;
		width: 40vw;
		font-size: 30px;
	}
	#submit {
		width: 20vw;
	}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.form-center {
		height: 62vh;
	}
	.form-box {
		width: 30vw;
		height: 30vh;
	}
	input, label {
		margin-top: 2vh;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	.form-center {
		height: 62vh;
	}
	.form-box {
		width: 30vw;
		height: 30vh;
	}
	input, label {
		margin-top: 2vh;
	}
}