@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
}

.container {
	background-color: white;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #00478e;
	height: 80vh;
}

.pay-container {
	background-color: white;
	color: black;
	font-size: 20px;
	width: 40vw;
	height: 40vh;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#pay-tick {
	font-size: 120px;
	margin-bottom: 0px;
	margin-top: 10px;
}

#pay-suc {
	margin-top: 0px;
}

#main-page {
	background-color: #00478e;
	color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	.container {
		height: 88vh;
	}
	.pay-container {
		height: 30vh;
		width: 70vw;
	}
	#pay-tick {
		font-size: 400px;
		margin-bottom: 0px;
		margin-top: 3vh;
	}
	#pay-suc {
		font-size: 50px;
	}
	button {
		font-size: 35px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) {
	.container {
		height: 80vh;
	}
	.pay-container {
		height: 20vh;
		width: 70vw;
	}
	#pay-tick {
		font-size: 250px;
		margin-bottom: 0px;
		margin-top: 3vh;
	}
	#pay-suc {
		font-size: 50px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.container {
		height: 65vh;
	}
	.pay-container {
		height: 40vh;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	.container {
		height: 65vh;
	}
	.pay-container {
		height: 40vh;
	}
}