@charset "ISO-8859-1";

html, body{
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
}

.container {
	background-color: #a7d9e7;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	min-height: 60vh;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 2px solid;
	padding: 10px 10px 0px 10px;
	border-radius: 5px;
	margin-bottom: 9px;
}

th {
	text-align: left;
	padding: 8px;
	border: 2px solid;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 1000;
	color: white;
}

td {
	text-align: left;
	padding: 8px;
	border: 2px solid;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 1000;
	color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.container{
 	min-height: 86vh;
 }
 table{
 	min-height: 60vh;
 	width: 80vw;
 }
 th,td {
	font-weight: bold;
	font-size: 30px;
	max-width: 40vw;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.container{
 	height: 78vh; 
 }
 table{
 	min-height: 30vh;
 	width: 80vw;
 }
  th,td {
	font-weight: bold;
	font-size: 30px;
	max-width: 40vw;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.container{
 	min-height: 25vh; 
 }
 table{
 	min-height: 20vh;
 	width: 50vw;
 }
 h3{
 	font-size: 5px;
 }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
.container{
 	min-height: 25vh;
 }
 table{
 	min-height: 20vh;
 	width: 50vw;
 }
 h3{
 	font-size: 5px;
 }
}