@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
}

.container {
	background-color: white;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	min-height: 70vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

.page {
	margin-bottom: 2vh;
}

.table-container {
	background: transparent;
	backdrop-filter: blur(5px);
}

table {
	border-collapse: collapse;
	width: 80vw;
	border: 2px solid #00478e;
	background-color: #00478e;
	color: white;
	margin-bottom: 2vh;
}

th {
	text-align: left;
	border: 2px solid;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 1000;
}

td {
	word-wrap: break-word;
	text-align: left;
	border: 2px solid;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 1000;
	max-width: 11vw;
	font-size: 14px;
	font-weight: 600;
}

button {
	background-color: #00478e;
	color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	.container {
		width: 100vw;
		min-height: 88vh;
	}
	table {
		width: 90vw;
	}
	th {
		font-size: 15px;
		font-weight: bold;
		max-height: 10vh;
	}
	select {
		height: 10vh;
		width: 25vw;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) {
	.container {
		width: 100vw;
		min-height: 80vh;
	}
	table {
		width: 90vw;
	}
	th {
		font-size: 15px;
		font-weight: bold;
		max-height: 10vh;
	}
	select {
		height: 10vh;
		width: 25vw;
	}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.container {
		min-height: 25vh;
	}
	table {
		min-height: 20vh;
		width: 90vw;
	}
	h3 {
		font-size: 5px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	.container {
		min-height: 25vh;
	}
	table {
		min-height: 20vh;
		width: 90vw;
	}
	h3 {
		font-size: 5px;
	}
}