@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
}

.container {
	background-color: white;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #00478e;
	min-height: 80vh;
	width: 100%;
}

.form-container {
	height: 60vh;
	width: 40vw;
	border-radius: 5px;
	background-color: #00478e;
	color: white;
}

form {
	justify-content: left;
	align-items: left;
	text-align: left;
}

input, label, textarea {
	margin-left: 2vh;
	width: 35vw;
}

input {
	display: block;
}

label {
	margin-top: 2vh;
	font-weight: bold;
}

h4 {
	margin-top: 5px;
	margin-bottom: 0px;
}

textarea {
	height: 8vh;
}

.submit {
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #00509f;
	width: 10vh;
	height: 5vh;
	color: white;
	margin-top: 1vh;
	border-radius: 5px;
}

.term {
	color: black;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	.container {
		min-height: 88vh;
	}
	.form-container {
		margin-top: 5vh;
		min-height: 68vh;
		width: 80vw;
	}
	input, label, textarea, .submit {
		font-size: 36px;
	}
	input, textarea {
		margin-bottom: 6vh;
		border: 3px solid black;
		width: 60vw;
	}
	h4 {
		margin-top: 3vh;
		margin-bottom: 0px;
		font-size: 30px;
	}
	.submit {
		margin-top: 3vh;
	}
	input {
		height: 3vh;
	}
	.wTerm {
		margin-top: 0.8vh;
		font-size: 13px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) {
	.container {
		min-height: 81vh;
	}
	.form-container {
		margin-top: 5vh;
		height: 64vh;
		width: 80vw;
	}
	input, label, textarea, .submit {
		font-size: 36px;
	}
	input, textarea {
		margin-bottom: 2vh;
		border: 3px solid black;
		width: 60vw;
	}
	h4 {
		margin-top: 2vh;
		font-size: 30px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.container {
		height: 65vh;
	}
	.form-container {
		height: 53vh;
		font-size: 12px;
	}
	label {
		margin-top: 1vh;
		font-weight: bold;
	}
	.wTerm {
		margin-top: 3vh;
		font-size: 8px;
	}
	#rzp-button1 {
		margin-top: 2vh;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	.container {
		height: 65vh;
	}
	.form-container {
		height: 53vh;
	}
	.container {
		height: 65vh;
	}
	.form-container {
		height: 53vh;
		font-size: 12px;
	}
	label {
		margin-top: 1vh;
		font-weight: bold;
	}
	.wTerm {
		margin-top: 3vh;
		font-size: 8px;
	}
}